/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
/* Common styles */
@import url('./reset.css');
@import url('./base.css');

.container {
  max-width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.loader {
  width: 48px;
  height: 48px;
  border: 5px dotted #000000;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  box-sizing: border-box;
  animation: rotation 2s linear infinite;
  top: 50%;
  left: 50%;
  z-index: 99;
  transform: translate(-50%, -50%);
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.hidden {
  display: none;
}

.form {
  margin: 36px 0;
  display: flex;
  gap: 8px;
  align-items: center;
}

.input {
  width: 272px;
  height: 40px;
  padding: 16px 8px;
}

.submit-btn {
  border-radius: 8px;
  padding: 8px 16px;
  width: 91px;
  height: 40px;
  background-color: #4e75ff;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  border: none;
  transition: background-color 0.5s ease;
}

.submit-btn:hover {
  background-color: #6c8cff;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 48px 24px;
  margin-bottom: 20px;
}

.gallery-img {
  height: 150px;
  width: 360px;
  object-fit: cover;
}
.gallery-item {
  border: 2px solid rgba(46, 47, 66, 0.4);
  max-width: 360px;
}

.stat-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

.stat-list {
  display: flex;
  margin: 4px 20px;
  justify-content: space-between;
}

.stat-title {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33333;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

.load-btn {
  border-radius: 8px;
  padding: 8px 16px;
  width: 125px;
  height: 40px;
  display: block;
  margin: 0 auto;
  margin-bottom: 20px;
  background: #4e75ff;
  color: #fff;
  border: none;
  transition: background-color 0.5s ease;
}

.load-btn:hover {
  background-color: #6c8cff;
}
